div{
    height: 100%;
    width: 100%;
}
.flag{
    height: 200px;
    width: 100%;
    background-color: orange;
}
.center{
    height: 200px;
    width: 100%;
     background-color: white;
     text-align: center;
}
.bottom{
    height: 200px;
    width: 100%;
    background-color: green;
}